{% extends "base.html" %}

{% block title %}<title>Hasker: ask</title>{% endblock %}

{% block content %}
{% load static %}

<form action="{% url 'questions:make_question' %}" method="post" style="margin-bottom:40px; margin-top:40px; margin-left:15px; margin-right:25px;">
  <legend><h2 style="margin-bottom:20px;">Ask your question</h2></legend>
  
  {% csrf_token %}
  {% if error_message %}
  <div class="alert alert-warning" role="alert">
      {{ error_message }}
  </div>
  {% endif %}
  {% for field in form %}
  <div class="mb-3" style="margin-bottom:40px;">
    <label for="{{ field.html_name }}" class="form-label">{{ field.label }}</label>
    {% if field.field.widget.input_type %}
    <input class="form-control form-control-sm" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
    {% else %}
    <textarea class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" rows="6" placeholder="Your question"></textarea>
    {% endif %}
    {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
    <div class="alert alert-warning" role="alert">
        {{ error }}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <input type="submit" class="btn btn-primary" value="Submit"></input>
  <input type="reset" class="btn btn-secondary" value="Clear"></input>
</form>

{% endblock %}