{% extends "base.html" %}

{% block title %}<title>Hasker: ask</title>{% endblock %}

{% block content %}
{% load static %}


<legend><h3>Make your own question:</h3></legend>
<hr>
<form action="{% url 'questions:save_question' %}" method="post">
  {% csrf_token %}
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  
  <p><label for="username">Username:</label>
  <input type="text" name="username" id="username"></input></p>

  <p><label for="title">Title:</label>
  <input type="text" name="title" id="title"></input></p>
  
  <p><label for="content">Your question here:</label></p>
  <p><textarea cols="70" rows="5" name="content" id="content"></textarea></p>
  
  <label for="tags">Tags:</label>
  <input type="text" name="tags" id="tags"></input>

  <input type="submit" class="btn btn-primary" value="Submit">
  <input type="reset" class="btn btn-secondary" value="Clear">
</form>

{% endblock %}