<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question details page</title>
  </head>
  <body>
    <h1>{{ question.title }}</h1>
    <h4><i>Author: {{ question.author }}. Created: {{ question.created_on }}</i></h4>
    <hr>
    <p>{{ question.content }}</p>

    ***
    <p><b>Answer status:</b> {% if question.status == 1 %} Answered! {% else %} No good answer yet. {% endif %}</p>
    <p><b>Tags:</b> {% if tags %} {% for tag in tags %} {{ tag }} {% endfor %} {% else %} No tags provided. {% endif %}</p>


    <h1>Answers:</h1>
    <hr>

    {% if answer_query %}
    <ul>
    {% for answer in answer_query %}
        <li>Id: {{ answer.id }}</li>
        <li>Author: {{ answer.author }}</li>
        <li>Content: {{ answer.content }}</li>
        <li>Created: {{ answer.created_on }}</li>
        <li>Best answer: {{ answer.answer_flag }}</li>
        <hr>
        <p></p>

    {% endfor %}
    </ul>
{% else %}
    <p>No answers for that question yet. Write one?..</p>
{% endif %}

    <hr>
    <legend><h3>Your answer:</h3></legend>
    <form action="{% url 'questions:answer' question.id %}" method="post">
      {% csrf_token %}
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <p><textarea cols="70" rows="5" name="answer_text"></textarea></p>
      <input type="submit" value="Submit">
      <input type="reset" value="Clear">
    </form>


  </body>
</html>