{% extends "base.html" %}

{% block title %}<title>Hasker: {{ question.title }}</title>{% endblock %}

{% block content %}
{% load static %}

<div class="card border-light mb-3" style="max-width: 60rem; margin-top:5px; margin-bottom:80px;">
  <div class="card-header">
    <h4>{{ question.title }}</h4>
    <h8><i>Author: {{ question.author }}. Created: {{ question.created_on }}</i></h8>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <div class="row">
            <a href="{% url 'questions:questionvote' question.id 1 %}">
              <img src="{% static 'questions/up_arrow.png' %}" alt="Upvote" width="40" height="40">
            </a>
          </div>
          <div class="row">
            <div class="col-1">
              <h5 class="text-align:center">{{ question.votes }}</h5>
            </div>
          </div>
          <div class="row">
            <a href="{% url 'questions:questionvote' question.id 0 %}">
              <img src="{% static 'questions/down_arrow.png' %}" alt="Downvote" width="40" height="40">
            </a>
          </div>
        </div>
        <div class="col-10">
          <div class="row">
            <p>{{ question.content }}</p>
          </div>
          <div class="row">
            <div class="col-7">
              <!-- TAGS -->
              <p class="card-text">
                {% for tag in question.tags %}
                <a href="{% url 'questions:searchtag' tag.id %}" class="badge badge-info text-wrap">{{ tag.title }}</a>
                {% endfor %}
              </p>
            </div>
            <div class="col-3">
              <!-- AUTHOR -->
              {% if question.author.avatar %}
              <!-- USER AVATAR -->
              <img src="{{ question.author.profile.avatar }}" class="rounded-circle" alt="User avatar" width="50" height="50" style="margin-bottom:15px;">
              {% else %}
              <img src="{% static 'users/userpic.png' %}" alt="Default avatar" width="50" height="50" style="margin-bottom:15px;">
              {% endif %}
              <p><a href="#" class="text-primary">{{ question.author }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 style="margin-left:10px;">Answers</h4>

{% if answer_query %}

{% for answer in answer_query %}

<div class="card border-light mb-3" style="max-width: 60rem; margin-top:5px; margin-bottom:80px;">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <div class="row">
            <!-- ANSWER VOTING-->
            <a href="{% url 'questions:answervote' answer.id 1 %}">
              <img src="{% static 'questions/up_arrow.png' %}" alt="Upvote" width="40" height="40">
            </a>
          </div>
          <div class="row">
            <div class="col-1">
              <h5 class="text-align:center">{{ answer.votes }}</h5>
            </div>
          </div>
          <div class="row">
            <a href="{% url 'questions:answervote' answer.id 0 %}">
              <img src="{% static 'questions/down_arrow.png' %}" alt="Downvote" width="40" height="40">
            </a>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col-1"></div>
            <div class="col-12">
              <!-- BEST ANSWER LOGIC-->
              {% if answer.answer_flag == 1 %}
              <a href="{% url 'questions:alterflag' answer.id %}"><img src="{% static 'questions/star.png' %}" alt="Best answer" width="20" height="20"></a>
              {% else %}
              <a href="{% url 'questions:alterflag' answer.id %}"><img src="{% static 'questions/emptystar.png' %}" alt="Ordinary answer" width="20" height="20"></a>
              {% endif %}
            </div>
            <div class="col-1"></div>
          </div>
        </div>
        <div class="col-10">
          <div class="row">
            <!-- ANSWER CONTENT -->
            <p>{{ answer.content }}</p>
          </div>
          <div class="row">
            <div class="col-7">
              <p class="text-secondary">Created: {{ answer.created_on }}</p>
            </div>
            <div class="col-3">
              <!-- ANSWER AUTHOR -->
              <p><a href="#" class="text-primary">{{ answer.author }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}
    </ul>
{% else %}
    <p>No answers for that question yet. Write one?..</p>
{% endif %}

<hr>
<!-- ANSWER FORM -->
<legend><h3>Your answer:</h3></legend>
<form action="{% url 'questions:answer' question.id %}" method="post" style="margin-bottom:40px;">
  {% csrf_token %}
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <p><textarea cols="70" rows="5" name="answer_text"></textarea></p>
  <input type="submit" class="btn btn-primary" value="Submit">
  <input type="reset" class="btn btn-secondary" value="Clear">
</form>


{% endblock %}