<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tag search page</title>
  </head>
  <body>
    <h3>Questions with {{ tag }} tag</h3>
    {% if queryset %}
        <ul>
        {% for question in queryset %}
            <li>Id: {{ question.id }}</li>
            <li>Title: <a href="{% url 'questions:question' question.id %}">{{ question.title }}</a></li>
            <li>Status: {{ question.status }}</li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <p>No questions with this tag are available.</p>
    {% endif %}
  </body>
</html>