{% extends "base.html" %}

{% block content %}
{% load static %}

<h3>Setting</h3>

<div class="container-fluid" style="margin-bottom:30px; margin-top:30px;">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div class="row" style="margin-bottom:30px; margin-top:30px;">
            <div class="col-3">
                <h6>Login</h6>
            </div>
            <div class="col-5">
                {% if user.id %}
                {{ user.username }}
                {% else %}
                <p>username should be here...</p>
                {% endif %}
            </div>
        </div>
        <div class="row" style="margin-bottom:30px; margin-top:30px;">
            <div class="col-3">
                <h6>Email</h6>
            </div>
            <div class="col-5">
                {% if user.email %}
                <input class="form-control" type="text" name="email" id="email" value="{{ user.email }}">
                {% else %}
                <input class="form-control" type="text" name="email" id="email" value="example@post.com">
                {% endif %}
            </div>
        </div>
        <div class="row" style="margin-bottom:30px; margin-top:30px;">
            <div class="col-3">
                <h6>Avatar</h6>
            </div>
            <div class="col-5">
                {% if user.avatar %}
                <!-- USER AVATAR -->
                <img src="#" alt="User avatar" width="100" height="100">
                {% else %}
                <img src="{% static 'users/userpic.png' %}" alt="Default avatar" width="100" height="100">
                {% endif %}
            </div>
        </div>
    <form action="{% url 'users:save_profile' %}" method="post" enctype="multipart/form-data">
        <div class="row" style="margin-bottom:30px; margin-top:30px;">
            <div class="col-3"></div>
            <div class="col-5">
                <div class="mb-3">
                    <label for="avatar" class="form-label">Upload your avatar:</label>
                    <input class="form-control" type="file" id="avatar" name="avatar" accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}