{% extends "base.html" %}

{% block content %}

<h3>Sign up</h3>

<div class="container-fluid" style="margin-bottom:30px; margin-top:30px;">
    <form action="{% url 'users:signup' %}" method="post">
        {% csrf_token %}
        {% if error_message %}
        <div class="alert alert-warning" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        <div class="col-7">
            <div class="mb-3">
                {% for field in form %}
                <p>
                    <label for="{{ field.html_name }}" class="form-label">{{ field.label }}</label>
                    <input class="form-control form-control-sm" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                </p>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}